{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% trans '人生負債清單' %}{% endblock title %}</title>
        <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
        {% block styles %}{% endblock styles %}

        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
        {% block scripts %}{% endblock scripts %}

        {% block head %}{% endblock head %}
    </head>
    <body class="c-app">
        {% block content %}{% endblock %}
    </body>
</html>